<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salary Guide</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/stylesheets/app.css" />
    <link rel="stylesheet" href="libs/slick-1.5.0/slick/slick.css">
    <link rel="stylesheet" href="libs/slick-1.5.0/slick/slick-theme.css">
    <script src="libs/modernizr.js"></script>
    <style>
        .slick-prev:before, .slick-next:before {
            color:#43AC6A !important;
        }
    </style>
</head>
<body ng-app="salaryGuide">
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

        <nav class="tab-bar">
            <div class="left-small">
                <a role="button" aria-expanded="false" aria-controls="idOfLeftMenu" class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </div>
            <section class="right tab-bar-section">
                <h1 class="title"><a style="color: white;"href="http://www.dailyillini.com">The Daily Illini</a></h1>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">

            <ul class="off-canvas-list">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="search">Search</a></li>
            </ul>
        </aside>

        <div ui-view></div>

        <div class="footer row text-center">
            <div class="row">
                <div class="large-4 columns">
                    <h1>The Daily Illini</h1>
                    <p style="margin-bottom: 3px;" class="text-left">512 EAST GREEN ST., 3RD FLOOR, CHAMPAIGN IL 61820</p>
                    <div class="text-left smaller">(217) 337-8350 | <a href="mailto:news@dailyillini.com">NEWS@DAILYILLINI.COM</a></div>
                </div>
                <div class="large-4 columns">
                    <h5 class="underline text-left">Sections</h5>
                    <ul class="no-bullet large-6 columns">
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/news/">News</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/sports/">Sports</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/opinion/">Opinions</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/lifeandculture/">Life & Culture</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/special_sections/technograph/">Technograph</a></li>
                    </ul>
                    <ul class="no-bullet large-6 columns">
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/special_sections/">Special Sections</a></li>
                        <li style="text-align:left;"><a href="http://salaryguide.dailyillini.com/">Salary Guide</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/calendar/">Calendar</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/on_air/">On-Air</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/multimedia/">Multimedia</a></li>
                    </ul>
                </div>
                <div class="large-4 columns">
                    <h5 class="underline text-left">Services</h5>
                    <ul class="no-bullet large-6 columns">
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/site/about.html">About</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/staff/">Staff</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/site/ethics_code.html">Ethics Code</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/corrections/">Corrections</a></li>
                        <li style="text-align:left;"><a href="http://advertise.illinimedia.com">Advertise</a></li>
                    </ul>
                    <ul class="no-bullet large-6 columns">
                        <li style="text-align:left;"><a href="http://classifieds.dailyillini.com/">Classifieds</a></li>
                        <li style="text-align:left;"><a href="http://salaryguide.dailyillini.com/">Employment</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/site/terms.html">Terms of Use</a></li>
                        <li style="text-align:left;"><a href="http://www.dailyillini.com/site/privacy.html">Privacy Policy</a></li>
                        <li style="text-align:left;"><a href="http://www.illinimedia.org">Donate</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <ul class="clearfix text-center no-bullet inline">
                    <li><a href="http://www.illinimedia.org">The Illini Media Company</a></li>
                    <li><a href="http://www.dailyillini.com">The Daily Illini</a></li>
                    <li><a href="http://www.readbuzz.com/">Buzz Magazine</a></li>
                    <li><a href="http://wpgu.com/">WPGU-FM 107.1</a></li>
                    <li><a href="http://illioyearbook.com//">Illio Yearbook</a></li>
                </ul>

            </div>
        </div>
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
    </div>
</div>

<script src="libs/angular.js"></script>
<script src="libs/angular-ui-router.js"></script>
<script src="libs/jquery.js"></script>
<script src="libs/foundation.js"></script>
<script src="libs/slick-1.5.0/slick/slick.min.js"></script>
<script src="app.js"></script>
</body>
</html>