<div id="advertisement" class="row text-center">
    <iframe ng-show="device.desktop" id="desktop" name="3ccc9eeea3" src="http://ox-d.oncampusweb.com/w/1.0/afr?auid=536882100&cb=INSERT_RANDOM_NUMBER_HERE" frameBorder="0" frameSpacing="0" scrolling="no" width="728" height="90"><a href="http://ox-d.oncampusweb.com/w/1.0/rc?cs=3ccc9eeea3&cb=INSERT_RANDOM_NUMBER_HERE" ><img src="http://ox-d.oncampusweb.com/w/1.0/ai?auid=536882100&cs=3ccc9eeea3&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe>
    <iframe ng-show="device.phone" id="phone" name="c021c439ea" src="http://ox-d.oncampusweb.com/w/1.0/afr?auid=536882102&cb=INSERT_RANDOM_NUMBER_HERE" frameBorder="0" frameSpacing="0" scrolling="no" width="300" height="50"><a href="http://ox-d.oncampusweb.com/w/1.0/rc?cs=c021c439ea&cb=INSERT_RANDOM_NUMBER_HERE" ><img src="http://ox-d.oncampusweb.com/w/1.0/ai?auid=536882102&cs=c021c439ea&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe>
</div>

<div>
    <h1 class="text-center">Salary Guide Database</h1>
</div>
<div class="row">
    <div class="large-12">
        <button class="button success radius expand" style="font-size: 1.6875rem;" ui-sref="search">Start searching</button>
    </div>
</div>
<div class="row" style="margin-bottom: 5px;">
    <div class="large-12">
        <img src="mainImg.png" />
    </div>
</div>
<div class="row text-center">
    <h1 style="border-top: 2px solid black;" class="text-center">Read articles on UI salaries</h1>
    <div id="carousel">
        <div><a href="http://www.dailyillini.com/salary_guide/salaryguide2014/article_6b3fc7bc-5e3c-11e4-9ba0-001a4bcf6878.html">
            <img style="margin: 0 auto 0 auto;" src="http://bloximages.newyork1.vip.townnews.com/dailyillini.com/content/tncms/assets/v3/editorial/0/a3/0a33a820-5e3d-11e4-a357-001a4bcf6878/544ee9f40f9d6.image.jpg?resize=300%2C239">
            <h4>Breaking down Tim Beckman's contract</h4>
        </a></div>
        <div><a href="http://www.dailyillini.com/salary_guide/salaryguide2014/article_d0f922d8-5e41-11e4-9509-0017a43b2370.html">
            <img src="http://bloximages.newyork1.vip.townnews.com/dailyillini.com/content/tncms/assets/v3/editorial/f/3a/f3a022c4-5e45-11e4-9e5e-0017a43b2370/544ef86a141f8.image.png">
            <h4>What else could $3.4 billion buy?</h4>
        </a></div>
        <div><a href="http://www.dailyillini.com/salary_guide/salaryguide2014/article_c4939b56-5e3f-11e4-971f-0017a43b2370.html">
            <img style="margin: 0 auto 0 auto;" src="http://bloximages.newyork1.vip.townnews.com/dailyillini.com/content/tncms/assets/v3/editorial/a/3a/a3a68402-5e40-11e4-a101-0017a43b2370/544eefe2b07f1.image.jpg?resize=300%2C421">
            <h4>Breaking down Chancellor Phyllis Wise's contract</h4>
        </a></div>
        <div><a href="http://www.dailyillini.com/salary_guide/salaryguide2014/big_ten_comparison/">
            <img src="http://upload.wikimedia.org/wikipedia/commons/1/1b/Big_Ten_Conference_logo.png">
            <h4>Big Ten comparison</h4>
        </a></div>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1348014-1', 'auto');
    ga('send', 'pageview');

</script>